.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.main {
  width: 100%;
}

.table {
  width: 100%;
}

.tableHeaders > th {
  padding-right: 10px;
  text-align: start;
}

.tableBody {
  height: 150px;
}

.tableData > td {
  padding-right: 10px;
  text-align: start;
}